body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTesN92cuC4DKPU38NJdTOhRytVo-S4YTLUHE_S82rUQafHeg7");
   }

#title {
    font-size: 50px;
    color: lightyellow;
    margin: 0 auto;
    font-family: cursive;
    padding: 10px;
}

.row {
    margin: 30px;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
}
/* Next three boxes are not interactive. */
#numberToGuess {
    background-color: rgb(100, 74, 64);
    height: 30px;
    margin-left: 35%;
    padding: 40px;
    color: lightyellow;
    text-align: left;
}
#yourTotalScore {
    background-color: rgb(100, 74, 64);
    height: 30px;
    margin-left: 35%;
    padding: 40px;
    color: lightyellow;
    text-align: left;
}
#wins {
    background-color: rgb(100, 74, 64);
    height: 30px;
    margin-left: 145px;
    padding: 40px;
    color: lightyellow;
    text-align: left;
   
}
#losses {
    background-color: rgb(100, 74, 64);
    height: 30px;
    margin-left: 0 auto;
    padding: 40px;
    color: lightyellow;
    
}
/* only using next IDs for JS. */
#goalNumber {
    background-color: rgb(100, 74, 64);
    height: 30px;
    margin-left: 55%;
    padding: 30px;
    color: lightyellow;
}
#totalScore {
    background-color: rgb(100, 74, 64);
    height: 30px;
    margin-left: 55%;
    padding: 30px;
    color: lightyellow;
}
#w {
    background-color: rgb(100, 74, 64);
    height: 30px;
    margin-left: 50%;
    padding: 30px;
    color: lightyellow;
}
#l {
    background-color: rgb(100, 74, 64);
    height: 30px;
    margin-left: 30px;
    padding: 30px;
    color: lightyellow;
}
/* Crystals */
#chalcanthite {
    width: 250px;
    height: 250px;
    float: left;
    margin: 0 auto;
    padding: 10px;
}
#amethyst {
    width: 250px;
    height: 250px;
    float: left;
    margin: 0 auto;
    padding: 10px;
}
#tourmaline {
    width: 250px;
    height: 250px;
    float: right;
    margin: 0 auto;
    padding: 10px;
}
#ruby {
    width: 250px;
    height: 250px;
    float: right;
    margin: 0 auto;
    padding: 10px;
}
